<a href="https://colab.research.google.com/github/faisal-apew/Pembelajaran-Mesin/blob/master/UTS_1197050039_Faisal_Arief.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UTS Pembelajaran Mesin

Nim, Nama, Kelas : Faisal Arief 11907050039 D

# Topik Mini Riset
Mini Riset ini mengenai algoritma pengklasifikasi naive Bayes untuk membuat prediksi mengenai rincian 400 klien perusahaan termasuk ID unik, jenis kelamin, usia pelanggan dan gaji.

# Business Understanding 
Objektif Bisnis (Latar Belakang Masalah, Identifikasi Masalah, Metode/ Pendekatan Penyelesaian Masalah); Tujuan Teknis dan Kriteria Kesuksesan; Timeline Mini Riset.

# Data Understanding

Membahas Kebutuhan Data; Pengambilan Data; Integrasi Data; Telaah Data; Analisis Karakteristik Data; Validasi Data

contoh: The Customer_Behavior file represents a data set which contains 400 observation and 5 characteristics of customers such as: Id, gender, Age, Salary and weather they purchased or not the company's new product.

1. User ID
2. Gender
3. Age
4. EstimatedSalary
5. Purchased

# Data Preparation

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

import plotly.graph_objects as go
from plotly.subplots import make_subplots
# load data

In [7]:
features = pd.read_csv('https://github.com/faisal-apew/Pembelajaran-Mesin/raw/master/Customer_Behaviour.csv')
features.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Identify Anomalies/ Missing Data

In [8]:
# Statistik deskriptif untuk setiap kolom
features.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [9]:
# Inisialisasi gambar dengan subplot
fig = make_subplots(
    rows=1, cols=2)

# Tambahkan jejak
fig.add_trace(
    go.Scatter(y=features['Age']),
    row=1, col=1
)

fig.add_trace(
    go.Scatter(y=features['EstimatedSalary']),
    row=1, col=2
)

# Perbarui properti yaxis
fig.update_yaxes(title_text="Age", row=1, col=1)
fig.update_yaxes(title_text="Estimated salary", row=1, col=2)

# Perbarui judul dan tinggi
fig.update_layout(title_text="Basic plots for data verifying", height=700)

fig.show()

In [10]:
# Encode data sekali pakai menggunakan pandas get_dummies
features = pd.get_dummies(features)
features.head(5)

    User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0  15624510   19            19000          0              0            1
1  15810944   35            20000          0              0            1
2  15668575   26            43000          0              1            0
3  15603246   27            57000          0              1            0
4  15804002   19            76000          0              0            1

# Data pre-processing

In [11]:
# Gunakan numpy untuk mengonversi ke array
import numpy as np

# Label adalah nilai yang ingin kami prediksi
labels = np.array(features['Purchased'])

# Hapus label dari fitur
# sumbu 1 mengacu pada kolom
features= features.drop('Purchased', axis = 1)

# Menyimpan nama fitur untuk digunakan nanti
feature_list = list(features.columns)

# Konversikan ke array numpy
features = np.array(features)

# Menggunakan Scikit-learn untuk membagi data menjadi set pelatihan dan pengujian
from sklearn.model_selection import train_test_split

# Pisahkan data menjadi set pelatihan dan pengujian
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (300, 5)
Training Labels Shape: (300,)
Testing Features Shape: (100, 5)
Testing Labels Shape: (100,)

In [12]:
model = GaussianNB()
model.fit(train_features, train_labels)

GaussianNB()

In [13]:
y_pred = model.predict(test_features)

# Model & Evaluation

Membahas mengenai proses Fiting Model, set parameter-parameter dll.

In [14]:
accuracy = accuracy_score(test_labels, y_pred)*100
accuracy

92.0